.twitter {
  &:hover,
  &:focus {
    color: white !important;
    background: #1da1f2 !important;
  }
}

.buymeacoffee {
  &:hover,
  &:focus {
    color: white !important;
    background: #ffdd00 !important;
  }
}
