.card {
  width: 100px;
  min-width: 100px;
  aspect-ratio: 1/1.4;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 1.25rem;
  background: white;
}
