@import 'styles/color.scss';

.blank {
  border-style: dashed;
  background: rgba(0, 0, 0, 0);
}

.face-down {
  background: $primary;
  transform: rotateY(-180deg);
}

.face-up {
  transform: rotateY(0);
  transition: 1s;
}
