@tailwind base;
@tailwind components;
@tailwind utilities;

@import './color.scss';
$navbar-breakpoint: 0px;
@import 'bulma/bulma';

html,
body {
  display: block !important; // dev の <style data-next-hide-fouc="true">body{display:none}</style> 対応
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
